@charset "utf-8";

.usercenter-join-container {
	display: flex;
	align-items: center;
	position: relative;
	flex-direction: column;
	padding: 30rpx;
}

.usercenter-join-description {
	font-size: 26rpx;
	line-height: 40rpx;
	color: #999999;
	width: 690rpx;
	text-align: center;
}