.search-history {
	display: flex;
	flex-wrap: wrap;
	padding: 30rpx;
	
	&-item {
		padding: 5rpx 10rpx;
		margin-right: 20rpx;
		margin-bottom: 20rpx;
		border-radius: 8rpx;
		color: #666;
		background: #EBEBEB;
	}
	
	&-item:last-child {
		margin-right: 0;
	}
}