.cgp-usercenter-page {
	position: relative;
	display: flex;
	flex-direction: column;
	
	&-avatar {
		position: relative;
		display: flex;
		align-items: center;
		padding: 30rpx;
		
		.r {
			margin-left: 30rpx;
			width: 450rpx;
			
			text {
				display: block;
				white-space: nowrap;
				font-weight: 400;
				font-size: 32rpx;				
			}
			
			text:last-child {
				font-size: 26rpx;
			}
			
		}
		
		.signin {
			position: absolute;
			right: 30rpx;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

