@charset "utf-8";

.container {
	height: 200vh;
	position: relative;
}

.list-cell {
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	margin: 0 30rpx;
	padding: 30rpx 0;
	border-bottom: 1rpx solid #EBEBEB;
}

.list-cell-title {
	margin-left: 30rpx;
	width: 430rpx;
	height: 83rpx;
	color: #333333;
	font-weight: bold;
	font-size: 30rpx;
	line-height: 42rpx;
	box-sizing: border-box;	
	
	/* 限制两行 */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	/* 多行在这里修改数字即可 */
	-webkit-line-clamp: 2; 
	overflow:hidden;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}

.list-cell-description {
	margin-left: 30rpx;
	margin-top: 10rpx;
	width: 430rpx;
	height: 63rpx;
	color: #999999;
	font-size: 24rpx;
	line-height: 33rpx;
	
	/* 限制两行 */
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	/* 多行在这里修改数字即可 */
	-webkit-line-clamp: 2; 
	overflow:hidden;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}

.list-cell-check-detail {
	margin-left: 30rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2rpx solid #2979ff;
	border-radius: 4rpx;
	padding: 0 10rpx;
	position: absolute;
	bottom: 0;
	
	color: #2979ff;
	font-size: 30rpx;
	line-height: 42rpx;
	text-align: center;
}

/* 新上架标识 */
.list-cell-new-tag {
	padding: 0 10rpx;
	position: absolute;
	top: 30rpx;
	left: 0;	
	
	/* color: #fa3534; */
	color: #fff;
	font-size: 30rpx;
	line-height: 42rpx;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 1rpx #EBEBEB;
	background: rgba(0,0,0,.6);	
	border-radius: 0 40rpx 40rpx 0;
}

/* video标识 */
.list-cell-video-tag {
	position: absolute;
	left: 85rpx;
	top: 50%;
	transform: translateY(-50%);
	width: 60rpx;
	
	/* color: #fa3534; */
	color: #fff;
	font-size: 20rpx;
	line-height: 32rpx;
	font-weight: bold;
	text-align: center;
	border-radius: 8rpx;
	background: rgba(0,0,0,.6);
}

/* 导航栏-搜索框 */
.slot-wrap {
	display: flex;
	align-items: center;	
	/* 如果您想让slot内容占满整个导航栏的宽度 */
	flex: 1;
	/* 如果您想让slot内容与导航栏左右有空隙 */
	padding: 20rpx;
}

.sticky {
	width: 750rpx;
	height: 80rpx;
	color: #fff;
	position: fixed;
	z-index: 1;
}




