@charset "utf-8";

.usercenter-leaderboards-container {
	display: flex;
	position: relative;
}

.usercenter-leaderboards-box {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.usercenter-leaderboards-box-item {
	margin-left: 30rpx;
	margin-bottom: 30rpx;
	width: 330rpx;
	height: 88rpx;
	border-radius: 16rpx;
	background: #EBEBEB;
	animation: scale .3s forwards;
	
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	
	font-size: 30rpx;
	color: #666;
	text-align: center;
}

@keyframes scale{
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}